In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv(r'HR-Employee-Attrition.csv')
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
## This statement makes a new attribute Attrition01 which has values 0 and 1. It sets the Attrition attribute to 0 for No Attrition and 1 for Yes Attrition

data['Attrition01']=np.where(data['Attrition']=='Yes',1,0)
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition01
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,0

In [10]:
## Getting the size of the data

data.shape  ## indicates that there are 1470 rows of data, each having 36 columns. Initial dataset had 35 columns, we added the 36th one as Attrition01

(1470, 36)

In [17]:
## Descriptive Statistics

data.groupby(['Attrition'])['Age','DailyRate','DistanceFromHome','StandardHours'].agg(['mean','std'])

                 Age            DailyRate             DistanceFromHome  \
                mean      std        mean         std             mean
Attrition
No         37.561233  8.88836  812.504461  403.208379         8.915653
Yes        33.607595  9.68935  750.362869  401.899519        10.632911

                    StandardHours
                std          mean  std
Attrition
No         8.012633            80  0.0
Yes        8.452525            80  0.0

In [18]:
data.groupby(['Attrition'])['YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager'].agg(['mean','std'])

          YearsAtCompany           YearsInCurrentRole            \
                    mean       std               mean       std
Attrition
No              7.369019  6.096298           4.484185  3.649402
Yes             5.130802  5.949984           2.902954  3.174827

          YearsSinceLastPromotion           YearsWithCurrManager
                             mean       std                 mean       std
Attrition
No                       2.234388  3.234762             4.367397  3.594116
Yes                      1.945148  3.153077             2.852321  3.143349